.foto-about {
  border-radius: 100% !important;
  width: 100% !important;
}

.major {
  width: 50% !important;
}

.foto-about-section {
  display: flex;
  justify-content: center;
}

.foto-about-section div {
  width: 30%;
  margin: auto;
}

.foto-work{
    border-radius: 100% !important;
  width: 100% !important;
}

.foto-work-section div{
    width: 30%;
    margin: auto;
}
